.read-noti {
    opacity: 0.5;
}

.menu-notification.show {
    max-height: 367px;
    overflow: auto;
    min-width: 338px;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.clickable-row {
    cursor: pointer;
}

.nav-sidebar .nav-link>.right {
    position: absolute;
    left: 1rem;
    right: auto;
    top: .7rem;
}

.nav-sidebar .nav-link p {
    display: inline;
    margin: 0;
    margin-left: 1rem;
    white-space: normal;
}

.nav-sidebar .menu-is-opening>.nav-link i.right,
.nav-sidebar .menu-open>.nav-link i.right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-sidebar .nav-item .nav-treeview {
    display: none;
}

.col-book {
    height: 370px;
    margin-bottom: 15px;
}

.card-book {
    height: 100%;
    border: 1px solid;
}

.card-book:hover {
    background-color: rgb(228, 228, 228);
    transition: 0.4s;
}

.card-book-body {
    height: 65%;
    display: block;
}

h5.book-title {
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.card-book-body .card-img-top {
    width: 100%;
    height: 100%;
}

.card-book-body .book-action {
    display: flex;
    justify-content: space-between;
}

#custom {
    margin-left: 0px;
}

ul.rating li {
    width: auto;
    float: left;
}

ul.rating {
    list-style-type: none;
    margin: 1px;
}

img.review-thumbnail {
    width: 65px;
    height: 65px;
}

.rate {
    float: left;
    height: 55px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}
.dropdown-menu-lg .dropdown-item {
    padding: 1.5rem 1rem;
}
#like-chart, #review-chart, #comment-chart {
    max-height: 500px;
}
